html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  flex: 0 0 auto;
}

#main-content {
  flex: 1 1 auto;
  display: flex;
  padding: 0 20%;
  overflow-y: auto;
  overflow-x: hidden;
}

#import-container,
#export-container {
  display: flex;
  flex: 1 1 auto;
  justify-content: flex-start;
}


#gdh-api-container {
  flex: 0 0 auto;
  width: calc(100vw - 20%);
  margin: 0 10% 0 10%;
  border-top: solid 1px #efefef;
}

.bridge-container:empty {
  opacity: 0.0;
  transition: opacity 1s linear;
}

.bridge-container {
  opacity: 1.0;
  transition: opacity 1s linear;
}
